.text {
  font-family: PP Pangram Sans;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.textdop {
  font-family: PP Pangram Sans;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(159, 159, 159, 1);
  margin-top: 30px;
}
.textcontent {
  margin-top: 70px;
}
