.fonpicture {
  background-image: url('../img/discounts.png');
  background-size: cover; /* Масштабируем изображение, чтобы оно покрывало весь элемент */
  background-position: center; /* Центрируем изображение */
  padding: 20px; /* Добавим немного отступов */
  border-radius: 8px solid #000000; /* Закруглим углы */
  height: 966px;
  background-repeat: no-repeat;
  margin-top: 100px;
}
.titletext {
  font-family: Unbounded;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.blockcontent {
  display: flex;
  flex-wrap: nowrap;
}
.blockstyle {
  margin-left: calc(50% - 660px);
  margin-right: calc(50% - 660px);
  padding-top: 200px;
}

.blocktext {
  width: 760px;
  height: 392px;
  gap: 0px;
  opacity: 0px;
}
.textcontent {
  font-family: PP Pangram Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.text {
  font-family: PP Pangram Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  padding-top: 50px;
}
.stylediscounts {
  width: 536px;
  height: 448px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  background-color: white;
}
.block {
  padding-left: 20px;
}
.ellipse {
  padding-left: 400px;
  margin-top: -50px;
}
.buttoncircle {
  border-radius: 100%;
  width: 54px;
  height: 54px;
  gap: 0px;
  opacity: 0px;
  color: white;
  background: transparent;
  border-color: white;
  margin-top: 30px;
  margin-left: 20px;
}
.buttoncircle:hover {
  cursor: pointer;
}
.skidkistyle {
}
