.fonpicture {
  width: 1234px;
  height: 748px;
  gap: 0px;
  opacity: 0px;
  margin-left: calc(50% - 660px);
  margin-right: calc(50% - 660px);
  display: flex;
  margin-top: 100px;
}

.formreg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.name {
  width: Fixed (424px) px;
  height: Hug (76px) px;
  padding: 28px 30px 28px 30px;
  gap: 16px;
  border-radius: 10px;
  opacity: 0px;
}
.varchois {
  color: black;
}
.buttonrent {
  width: Fixed (424px) px;
  height: Hug (76px) px;
  padding: 28px 34px 28px 34px;
  gap: 10px;
  border-radius: 10px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background: black;
  border-color: white;
  color: white;
}
.buttonrent:hover {
  cursor: pointer;
}
.checkbox {
  margin-top: 15px;
  width: 30px;
  height: 20px;
}
.blockform {
  padding-left: 60px;
}
.title {
  font-family: Unbounded;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 50px;
}
.textcontent {
  font-family: PP Pangram Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 50px;
}
