.fonpicture {
  background-image: url('../img/rentcar.png');
  background-size: cover; /* Масштабируем изображение, чтобы оно покрывало весь элемент */
  background-position: center; /* Центрируем изображение */
  padding: 20px; /* Добавим немного отступов */
  border-radius: 8px solid #000000; /* Закруглим углы */
  height: 966px;
  background-repeat: no-repeat;
  margin-top: 100px;
}
.redcar {
  width: 348px;
  height: 350px;
  gap: 0px;
  border-radius: 20px;  
}
.rul {
  width: 348px;
  height: 350px;
  gap: 0px;
  border-radius: 20px;  
  padding-right: 30px;
}
.blockstyle {
  width: 1320px;
  height: 580px;
  gap: 0px;  
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title {
  font-family: Unbounded;
  font-size: 20px;
  font-weight: 700;
  line-height: 62px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.subtitle {
  font-family: PP Pangram Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.subsubtitle {
  font-family: PP Pangram Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(159, 159, 159, 1);
}
.bloccontener {
  width: 648px;
  height: 580px;  
  padding-right: 30px;
  margin-left: calc(50% - 660px);
  margin-right: calc(50% - 660px);
}
